streamlit
python-dotenv
langchain
langchain-community
langchain-groq
langchain-openai
langchain_huggingface
langchain_chroma
langchain-text-splitters
arxiv
wikipedia
duckduckgo-search
pypdf
bs4
pymupdf
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
openai
ipykernel
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub